/AdiminCompras/target/
/AdminComprasPersistencia/target/
/Persistencia/target/
/com.mycompany_Persistencia_jar_1.0-SNAPSHOT/target/
/AdminCompras_Persistencia/target/
/AdminCompras_Negocio/target/
/AdminCompras_PersistenciaMock/target/
/subSistemaGenerarOrden/target/
/subSistemaLlenarTabla/target/
/subSistemaProductosComprados/target/
/SubSistemaInventarioBajo/target/
/subSistemaInicioSesion/target/
/SubsistemaFinanzas/target/
/subSistemaConsultarProveedores_Negocio/target/
/subSistemaConsultarProductos/target/
/subSistemaCoinsidencias/target/
/subSistemaAgregarP/target/
/NegocioBO/target/
/subSistemaEliminarP/target/
/subSistemaPagar/target/
/subSistemaEntradaInventario/target/
/subsistemaSalidaInventario/target/
